@{
    ViewData["Title"] = "Transaction";
    ViewData["BreadCrumb"] = "Transaction";
}
@section DataTableSytleSheets{
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.jqueryui.min.css" rel="stylesheet" />
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="data-tables datatable-primary">
                    <table id="moveLogDataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Moved By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@section DataTableScripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var data;
            var table = $("#moveLogDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Transaction/GetMovementLogTableData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "DateTime", "name": "ID", "autoWidth": true },
                    { "data": "AssetName", "name": "Move Date", "autoWidth": true },
                    { "data": "LocationName", "name": "Total Asset", "autoWidth": true },
                    { "data": "MovedBy", "name": "Status", "autoWidth": true }
                ]
            });
        });

    </script>

}
