@using AMMPSI.Views.Shared
@{
    ViewData["Title"] = "Move Asset";
    ViewData["BreadCrumb"] = "Transaction";
    ViewData.AddActivePage(SharedNavPages.CreateMove);
}

@section DataTableSytleSheets{
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.jqueryui.min.css" rel="stylesheet" />
}

@section StyleSheets{

    <link href="~/lib/smart-wizard/dist/css/smart_wizard.min.css" rel="stylesheet" />

}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div id="moveAssetWizard">
            <ul>
                <li><a href="#step-1">Step 1<br /><small>Set Date and Location</small></a></li>
                <li><a href="#step-2">Step 2<br /><small>Choose Asset</small></a></li>
                <li><a href="#step-3">Step 3<br /><small>Summary</small></a></li>
            </ul>

            <div>
                <div id="step-1" class="">
                    <form id="moveForm">
                        <div class="form-group col-xs-6">
                            <label class="col-form-label">Location</label>
                            <input class="form-control" type="text" id="location" required>
                            <input class="form-control" type="hidden" id="locationId">
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="col-form-label">Move Date</label>
                            <input class="form-control" type="date" name="moveDate" id="moveDate" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Description</label>
                            <textarea class="form-control" rows="5" id="description"></textarea>
                        </div>
                    </form>
                </div>
                <div id="step-2" class="">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Search Asset</h4>
                            <div class="data-tables datatable-dark">
                                <table id="assetMoveableDataTable" class="text-center">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Location</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <h4 class="header-title">Selected Asset</h4>
                            <div class="data-tables datatable-dark">
                                <table id="assetMoveDataTable" class="text-center">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Location</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-3" class="">
                    <table class="table table-bordered">
                        <tr>
                            <th>Location</th>
                            <td id="summaryLocation"></td>
                        </tr>
                        <tr>
                            <th>Move Date</th>
                            <td id="summaryMoveDate"></td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td id="summaryDescription"></td>
                        </tr>
                    </table>
                    <div class="according">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link collapsed" data-toggle="collapse" href="#assetList" aria-expanded="false">
                                    Move Asset List
                                </a>
                            </div>
                            <div id="assetList" class="collapse" data-parent="#assetList" style="">
                                <div class="card-body">
                                    <div class="data-tables datatable-dark">
                                        <table id="summaryMoveTable" class="text-center">
                                            <thead class="text-capitalize">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Category</th>
                                                    <th>Location</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button id="btnSubmit" class="btn btn-success btn-block">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@section DataTableScripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script src="~/lib/smart-wizard/dist/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            var moveForm = $('#moveForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var tempAssetMoveList = [];

            $('#moveAssetWizard').smartWizard();
            var assetTable = $("#assetMoveableDataTable").DataTable({
                "responsive": true,
                "bAutoWidth": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Transaction/GetAssetMoveableTableData",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.locationId = $("#locationId").val()
                    }
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": false },
                    { "data": "Name", "name": "Name", "autoWidth": false },
                    { "data": "CategoryName", "name": "Category", "autoWidth": false },
                    { "data": "CurrentLocation", "name": "Location", "autoWidth": false },
                    {
                        "render": function (data, type, full, meta) {
                            var returnStr = '<button class="btn btn-sm btn-success" id="btnAdd"><em class="fa fa-plus" style="color:white"></em></button>&nbsp;';
                            return returnStr;
                        }
                    }
                ]

            });

            var tempAssetTable = $("#assetMoveDataTable").DataTable({
                "responsive": true,
                "bAutoWidth": false,
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "name": "ID", "autoWidth": false },
                    { "name": "Name", "autoWidth": false },
                    { "name": "Category", "autoWidth": false },
                    { "name": "CurrentLocation", "autoWidth": false },
                    {
                        "render": function (data, type, full, meta) {

                            var returnStr = '<button class="btn btn-sm btn-danger" id="btnRemove"><em class="fa fa-minus" style="color:white"></em></button>&nbsp;';
                            return returnStr;
                        }
                    }
                ]
            });

            var summaryAssetTable = $("#summaryMoveTable").DataTable({
                "responsive": true,
                "bAutoWidth": false,
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "name": "ID", "autoWidth": false },
                    { "name": "Name", "autoWidth": false },
                    { "name": "Category", "autoWidth": false },
                    { "name": "CurrentLocation", "autoWidth": false }

                ]
            });

            $("#moveAssetWizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
                // stepnumber using zero-based index

                if (stepNumber === 2) {
                    $("#summaryMoveDate").html($("#moveDate").val());
                    $("#summaryLocation").html($("#location").val());
                    $("#summaryDescription").html($("#description").val());

                    summaryAssetTable.clear();
                    $(tempAssetTable.rows().data()).each(function (i, data) {
                        summaryAssetTable.row.add([
                            data[0],
                            data[1],
                            data[2],
                            data[3]
                        ]);
                    });
                    summaryAssetTable.draw();
                }
            });

            $("#moveAssetWizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                if (stepNumber === 0) {
                    if ($('#moveForm').valid()) {
                        //if ($('#moveDate').val() === '') {
                        //    //$('#moveDate').parent('div').append('<div id="moveDate-error" class="error invalid-feedback" style="display: block;">This field is required.</div>');
                        //    errors = { moveDate: "Please enter an ID to check" };
                        //    /* Show errors on the form */
                        //    moveForm.showErrors(errors);
                        //} else {
                        //    return true;
                        //}
                        assetTable.ajax.reload();
                        return true;
                    }
                    return false;
                }

                if (stepNumber === 1) {
                    if (stepDirection === 'forward') {
                        if (tempAssetTable.rows().data().count() < 1) {
                            return false;
                        }
                    }
                    return true;
                }

            });

            $("#location").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Location/GetLocationAutoComplete',
                        data: {
                            "searchText": request.term
                        },
                        type: 'GET',
                        cache: false,
                        dataType: 'json',
                        success: function (json) {
                            response($.map(json, function (data, id) {
                                return {
                                    label: data.Name + ' - Floor ' + data.Floor,
                                    value: data.ID
                                };
                            }));
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            console.log('some error occured', textStatus, errorThrown);
                        }
                    });
                },
                minLength: 1,
                focus: function (event, ui) {
                    event.preventDefault();
                    $("#location").val(ui.item.label);
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#location").val(ui.item.label);
                    $("#locationId").val(ui.item.value);
                    tempAssetTable.clear();
                },
                change: function (event, ui) {
                    if (!(ui.item)) {
                        event.target.value = "";
                        $("#locationId").val("");
                    }
                }
            });

            $(document).on('click', '#btnAdd', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var data = assetTable.row(current_row).data();

                var i;
                var flag = false;

                for (i = 0; i < tempAssetTable.rows().data().length; i++) {
                    if (tempAssetTable.rows().data()[i][0] == data.ID) {
                        return;
                    }
                }

                tempAssetTable.row.add([
                    data.ID,
                    data.Name,
                    data.CategoryName,
                    data.CurrentLocation
                ]).draw();
            });

            $(document).on('click', '#btnRemove', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                tempAssetTable
                    .row(current_row)
                    .remove()
                    .draw();
            });

            $(document).on('click', '#btnSubmit', function () {
                var listAssetID = [];

                $(tempAssetTable.rows().data()).each(function (i, item) {
                    listAssetID.push(item[0]);
                });

                var data = {
                    MovementDate: $("#moveDate").val(),
                    LocationID: $("#locationId").val(),
                    Description: $("#description").val(),
                    ListAssetID: listAssetID
                };

                $.post('/Transaction/AddMoveAssetRequest', { MoveRequest: data }, function (returnedData) {
                    swal({
                        title: "Success!",
                        text: "",
                        icon: "success",
                    });
                    window.location.replace("/Transaction/");
                }).fail(function () {
                    console.log("error");
                }, "json");

            });
        });
    </script>
}