@model RoleViewModel
@{
    ViewData["Title"] = "EditRole";
    ViewData["BreadCrumb"] = "Account";
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><a asp-controller="Account" asp-action="Role" class="btn btn-primary" style="margin-bottom: 10px;"><em class="icon-arrow-left"> </em>Back</a></h4>
                <hr />
                <form asp-action="EditRole">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="RoleId" />
                    <div class="form-group">
                        <label asp-for="RoleName"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-default">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>



