@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    ViewData["BreadCrumb"] = "Account";
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><a asp-controller="Account" asp-action="Index" class="btn btn-primary" style="margin-bottom: 10px;"><em class="icon-arrow-left"> </em>Back</a></h4>
                User Name : <h4>@Html.DisplayFor(model => model.UserName)</h4>
                <hr />
                <form asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


