<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - AMMPSI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/strdash/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/strdash/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/strdash/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/strdash/css/metisMenu.css">
    <link rel="stylesheet" href="~/lib/strdash/css/owl.carousel.min.css">
    <!-- amcharts css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- style css -->
    <link rel="stylesheet" href="~/lib/strdash/css/typography.css">
    <link rel="stylesheet" href="~/lib/strdash/css/default-css.css">
    <link rel="stylesheet" href="~/lib/strdash/css/styles.css">
    <link rel="stylesheet" href="~/lib/strdash/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/lib/strdash/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    @RenderBody()
    <!-- error area end -->
    <!-- jquery latest version -->
    <script src="~/lib/strdash/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/lib/strdash/js/popper.min.js"></script>
    <script src="~/lib/strdash/js/bootstrap.min.js"></script>
    <script src="~/lib/strdash/js/owl.carousel.min.js"></script>
    <script src="~/lib/strdash/js/metisMenu.min.js"></script>
    <script src="~/lib/strdash/js/jquery.slimscroll.min.js"></script>
    <script src="~/lib/strdash/js/jquery.slicknav.min.js"></script>
    <!-- others plugins -->
    <script src="~/lib/strdash/js/plugins.js"></script>
    <script src="~/lib/strdash/js/scripts.js"></script>
</body>

</html>