@using Microsoft.AspNetCore.Identity
@using AMMPSI.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-sm-6 clearfix">
        <div class="user-profile pull-right">
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@UserManager.GetUserName(User) <i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Manage">Change Password</a>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <a class="dropdown-item" onclick="document.getElementById('logoutForm').submit()" href="#">Log Out</a>
                </form>
            </div>
        </div>
    </div>
}
else
{

    <div class="col-sm-6 clearfix">
        <div class="user-profile pull-right">
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Guest <i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
                <a asp-area="" class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                <a asp-area="" class="dropdown-item" asp-controller="Account" asp-action="Login">Log in</a>
            </div>
        </div>
    </div>

}
