@using AMMPSI.Views.Shared
@{
    ViewData["BreadCrumb"] = "Dashboard";
    ViewData["Title"] = "Dashboard";
    ViewData.AddActivePage(SharedNavPages.Dashboard);
}

<!-- sales report area start -->
<div class="sales-report-area mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="single-report mb-xs-30">
                <div class="s-report-inner pr--20 pt--30 mb-3">
                    <div class="icon"><i class="fa fa-warning"></i></div>
                    <div class="s-report-title d-flex justify-content-between">
                        <h4 class="header-title mb-0">Approval Request</h4>
                        <p>Monthly</p>
                    </div>
                    <div class="d-flex justify-content-between pb-2">
                        <h2 class="total-approval-request">{Total Approval Request}</h2>
                    </div>
                </div>
                <canvas id="coin_sales1" height="100"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-report mb-xs-30">
                <div class="s-report-inner pr--20 pt--30 mb-3">
                    <div class="icon"><i class="fa fa-cubes"></i></div>
                    <div class="s-report-title d-flex justify-content-between">
                        <h4 class="header-title mb-0">Task</h4>
                        <p>Monthly</p>
                    </div>
                    <div class="d-flex justify-content-between pb-2">
                        <h2 class="total-task">{Total Task}</h2>
                    </div>
                </div>
                <canvas id="coin_sales2" height="100"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-report">
                <div class="s-report-inner pr--20 pt--30 mb-3">
                    <div class="icon"><i class="fa fa-book"></i></div>
                    <div class="s-report-title d-flex justify-content-between">
                        <h4 class="header-title mb-0">Asset</h4>
                        <p>Monthly</p>
                    </div>
                    <div class="d-flex justify-content-between pb-2">
                        <h2 class="total-asset">{Total Asset}</h2>
                    </div>
                </div>
                <canvas id="coin_sales3" height="100"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- sales report area end -->
<!-- overview area start -->
<div class="row">
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <h4 class="header-title mb-0">Last Move</h4>
                </div>
                <div class="market-status-table mt-4">
                    <div class="table-responsive">
                        <table class="dbkit-table la-table">
                            <tr class="heading-td">
                                <td class="text-center"><i class="fa fa-user fa-2x"></i></td>
                                <td class="text-center"><i class="fa fa-cubes fa-2x"></i></td>
                                <td class="text-center"><i class="fa fa-location-arrow fa-2x"></i></td>
                                <td class="text-center"><i class="fa fa-calendar fa-2x"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 coin-distribution">
        <div class="card h-full">
            <div class="card-body">
                <h4 class="header-title mb-0">Distribution</h4>
                <div id="coin_distribution"></div>
            </div>
        </div>
    </div>
</div>
<!-- overview area end -->
<!-- market value area start -->
<div class="row mt-5 mb-5">
    <div class="col-12">
    </div>
</div>
<!-- market value area end -->


@section Scripts{

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                async: false,
                url: "Home/GetLastActivities",
                success: function (result) {
                    var tableClass = document.getElementsByClassName("la-table")[0];
                    var logList = result.reverse();
                    for (var i = 0; i < logList.length; i++) {
                        var tr = document.createElement('tr');
                        tr.innerHTML =
                            "<td class='text-center'>" + logList[i].UserName + "</td>" +
                            "<td class='text-center'>" + logList[i].AssetName + "</td>" +
                            "<td class='text-center'>" + logList[i].CurrentLocation + "</td>" +
                            "<td class='text-center'>" + logList[i].ActivityTime + "</td>";

                        tableClass.appendChild(tr);
                    }
                }
            })
        })

    </script>
}