@{
    ViewData["Title"] = "Asset";
    ViewData["BreadCrumb"] = "Asset";
}
@section DataTableSytleSheets{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><button type="button" id="btnAddModal" class="btn btn-sm btn-primary">Add</button></h4>
                <div class="data-tables datatable-primary">
                    <table id="AssetDataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@*Modal*@

<div class="modal fade" id="addAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Asset</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input class="form-control" type="text" id="name">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Category</label>
                    <select class="form-control" id="category">
                        <option value="1">category 1</option>
                        <option value="2">category 2</option>
                        <option value="3">category 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Value</label>
                    <input class="form-control" type="number" id="value">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Moveable</label>
                    <select class="form-control" id="isMoveable">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control" rows="5" id="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input class="form-control" type="text" id="name">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Category</label>
                    <select class="form-control" id="category">
                        <option>category 1</option>
                        <option>category 2</option>
                        <option>category 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Value</label>
                    <input class="form-control" type="number" id="value">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Moveable</label>
                    <select class="form-control" id="isMoveable">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control" rows="5" id="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p> Are you sure to delete this Asset? This operation is ireverssible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section DataTableScripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var data;
            var table = $("#AssetDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Asset/GetAssetTableData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "CategoryName", "name": "Category", "autoWidth": true },
                    { "data": "CurrentLocation" , "name": "Location", "autoWidth": true},
                    {
                        "render": function (data, type, full, meta) {
                            var returnStr = '<button class="btn btn-sm btn-success" id="btnDetailModal"><em class="fa fa-eye" style="color:white"></em></button>&nbsp;' +
                                '<button class="btn btn-sm btn-danger" id="btnDeleteModal"><em class="fa fa-trash-o" style="color:white"></em></button>&nbsp;';
                            return returnStr;
                        }
                    }

                ]

            });


            // Load Data For Modal
            $(document).on('click', '#btnAddModal', function () {
                $('#addAssetModal').modal();
            });

            $(document).on('click', '#btnDetailModal', function () {
                var id = table.row($(this).closest('tr')).data().ID;
                $.post('/Asset/GetAsset', { id: id }, function (returnedData) {
                    $('#detailAssetModal').modal();
                    data = returnedData;
                    $('#detailAssetModal').find('#name').val(data.Name);
                    $('#detailAssetModal').find('#value').val(data.Value);
                    console.log(data.Value);
                    //$('#detailAssetModal').find('#category').val(data.Category);
                    $('#detailAssetModal').find('#isMoveable').val(data.IsMoveable);
                    $('#detailAssetModal').find('#description').val(data.Description);
                }).fail(function () {
                    console.log("error");
                },"json");
            });

            $(document).on('click', '#btnDeleteModal', function () {
                var id = table.row($(this).closest('tr')).data().ID;
                $('#deleteAssetModal').modal();
                data = id;
            });


            // Add Edit Delete Operation
            $('#detailAssetModal').on('click', '#btnSave', function () {
                data.Name = $('#detailAssetModal').find('#name').val();
                data.Value = $('#addAssetModal').find('#value').val();
                data.CategoryID = 1; //$('#addAssetModal').find('#category').val();
                data.IsMoveable = $('#detailAssetModal').find('#isMoveable').val();
                console.log($('#detailAssetModal').find('#isMoveable').val());
                data.Description = $('#detailAssetModal').find('#description').val();
                $.post('/Asset/EditAsset', { id: data.ID, Asset: data }, function (returnedData) {
                    table.ajax.reload();
                    $('#detailAssetModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $('#deleteAssetModal').on('click', '#btnDelete', function () {
                $.post('/Asset/DeleteAsset', { id: data}, function (returnedData) {
                    table.ajax.reload();
                    $('#deleteAssetModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $('#addAssetModal').on('click', '#btnSave', function () {
                data = {
                    Name: $('#addAssetModal').find('#name').val(),
                    Value: $('#addAssetModal').find('#value').val(),
                    CategoryID: 1, //$('#addAssetModal').find('#category').val();
                    IsMoveable: $('#addAssetModal').find('#isMoveable').val(),
                    Description: $('#addAssetModal').find('#description').val()
                };

                $.post('/Asset/AddAsset', { Asset: data }, function (returnedData) {
                    table.ajax.reload();
                    console.log(returnedData);
                    $('#addAssetModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });


            // Clean Data after Modal Close

            $('#detailAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#detailAssetModal').find('#name').val("");
            });

            $('#deleteAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
            });

            $('#addAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#addAssetModal').find('#name').val("");
            });
        });

    </script>

}
