@using AMMPSI.Views.Shared
@{
    ViewData["Title"] = "Asset";
    ViewData["BreadCrumb"] = "Asset";
    ViewData.AddActivePage(SharedNavPages.Asset);
}
@section DataTableSytleSheets{
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.jqueryui.min.css" rel="stylesheet" />
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><button type="button" id="btnAddModal" class="btn btn-sm btn-primary">Add</button></h4>
                <div class="data-tables datatable-primary">
                    <table id="AssetDataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@*Modal*@

<div class="modal fade" id="addAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="addAssetForm">
                <div class="modal-header">
                    <h5 class="modal-title">Add</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Category</label>
                        <select class="form-control" id="category" required></select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Value</label>
                        <input class="form-control" type="number" id="value" min="0" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Moveable</label>
                        <select class="form-control" id="isMoveable" required>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="detailAssetForm">
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Category</label>
                        <select class="form-control" id="category" required></select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Value</label>
                        <input class="form-control" type="number" id="value" min="0" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Moveable</label>
                        <select class="form-control" id="isMoveable" required>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p> Are you sure to delete this Asset? This operation is ireverssible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="historyAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">History</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <table id="historyAssetDataTable" class="text-center">
                    <thead class="text-capitalize">
                        <tr>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Moved By</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section DataTableScripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            var addAssetForm = $('#addAssetForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var detailAssetForm = $('#detailAssetForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var data;
            var table = $("#AssetDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Asset/GetAssetTableData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "CategoryName", "name": "Category", "autoWidth": true },
                    { "data": "CurrentLocation", "name": "Location", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            var returnStr = '<button class="btn btn-sm btn-success" id="btnDetailModal"><em class="fa fa-eye" style="color:white"></em></button>&nbsp;' +
                                '<button class="btn btn-sm btn-primary" id="btnHistoryModal"><em class="fa fa-archive" style="color:white"></em></button>&nbsp;';

                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <text>returnStr = returnStr + '<button class="btn btn-sm btn-danger" id="btnDeleteModal"><em class="fa fa-trash-o" style="color:white"></em></button>&nbsp;';</text>

                                }
                            return returnStr;
                        }
                    }
                ]
            });

            var historyAssetTable = $("#historyAssetDataTable").DataTable({
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "responsive": true,
                "bAutoWidth": false,
                "columns": [
                    { "name": "Date", "autoWidth": false },
                    { "name": "Location", "autoWidth": false },
                    { "name" : "MovedBy", "autoWidth": false}
                ]
            });

            // Load Data For Modal
            $(document).on('click', '#btnAddModal', function () {
                $.get("/Category/GetCategory", function (data) {
                    $('#addAssetModal').find('#category').empty();
                    $.each(data, function (index, value) {
                        $('<option>').val(value.ID).text(value.Name).appendTo($('#addAssetForm').find('#category'));
                    });
                });
                $('#addAssetModal').modal();
            });

            $(document).on('click', '#btnDetailModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $.post('/Asset/GetAsset', { id: id }, function (returnedData) {
                    $.get("/Category/GetCategory", function (data) {
                        $('#detailAssetModal').find('#category').empty();
                        $.each(data, function (index, value) {
                            $('<option>').val(value.ID).text(value.Name).appendTo($('#detailAssetModal').find('#category'));
                        });
                    });
                    data = returnedData;
                    $('#detailAssetModal').find('#name').val(data.Name);
                    $('#detailAssetModal').find('#value').val(data.Value);
                    $('#detailAssetModal').find('#category').val(data.CategoryID);
                    $('#detailAssetModal').find('#isMoveable').val(data.IsMoveable.toString());
                    $('#detailAssetModal').find('#description').val(data.Description);
                    $('#detailAssetModal').modal();
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $(document).on('click', '#btnDeleteModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $('#deleteAssetModal').modal();
                data = id;
            });

            $(document).on('click', '#btnHistoryModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $.post('/Asset/GetAssetMovementLog', { assetId: id }, function (returnedData) {
                    $(returnedData).each(function (i, data) {
                        historyAssetTable.row.add([
                            data.DateTime,
                            data.LocationName,
                            data.MovedBy
                        ])
                    });

                    historyAssetTable.draw();
                    $('#historyAssetModal').modal();
                }).fail(function () {
                    console.log("error");
                }, "json");

                historyAssetTable.clear();
            });


            // Add Edit Delete Operation
            $('#detailAssetModal').on('click', '#btnSave', function () {
                if ($('#detailAssetForm').valid()) {
                    data.Name = $('#detailAssetModal').find('#name').val();
                    data.Value = $('#detailAssetModal').find('#value').val();
                    data.CategoryID = $('#detailAssetModal').find('#category').val()
                    data.IsMoveable = $('#detailAssetModal').find('#isMoveable').val();
                    console.log($('#detailAssetModal').find('#isMoveable').val());
                    data.Description = $('#detailAssetModal').find('#description').val();
                    $.post('/Asset/EditAsset', { id: data.ID, Asset: data }, function (returnedData) {
                        table.ajax.reload();
                        $('#detailAssetModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                }
            });

            $('#deleteAssetModal').on('click', '#btnDelete', function () {
                $.post('/Asset/DeleteAsset', { id: data }, function (returnedData) {
                    table.ajax.reload();
                    $('#deleteAssetModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $('#addAssetModal').on('click', '#btnSave', function () {
                if ($('#addAssetForm').valid()) {
                    data = {
                        Name: $('#addAssetModal').find('#name').val(),
                        Value: $('#addAssetModal').find('#value').val(),
                        CategoryID: $('#addAssetModal').find('#category').val(),
                        IsMoveable: $('#addAssetModal').find('#isMoveable').val(),
                        Description: $('#addAssetModal').find('#description').val()
                    };

                    $.post('/Asset/AddAsset', { Asset: data }, function (returnedData) {
                        table.ajax.reload();
                        console.log(returnedData);
                        $('#addAssetModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                }
            });


            // Clean Data after Modal Close

            $('#detailAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#detailAssetModal').find('#name').val("");
                detailAssetForm.resetForm();
            });

            $('#deleteAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
            });

            $('#addAssetModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#addAssetModal').find('#name').val("");
                addAssetForm.resetForm();
            });

            $('#historyAssetModal').on('hidden.bs.modal', function (e) {

                historyAssetTable.clear();
                historyAssetTable.draw();
            });
        });

    </script>

}
