@using AMMPSI.Views.Shared
@{
    ViewData["Title"] = "Location";
    ViewData["BreadCrumb"] = "Location";
    ViewData.AddActivePage(SharedNavPages.Location);
}
@section DataTableSytleSheets{
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.jqueryui.min.css" rel="stylesheet" />
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><button type="button" id="btnAddModal" class="btn btn-sm btn-primary">Add</button></h4>
                <div class="data-tables datatable-primary">
                    <table id="locationDataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Floor</th>
                                <th>TotalAsset</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@*Modal*@

<div class="modal fade" id="addLocationModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="addLocationForm">
                <div class="modal-header">
                    <h5 class="modal-title">Add Location</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Floor</label>
                        <input class="form-control" type="number" id="floor" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailLocationModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="detailLocationForm">
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Floor</label>
                        <input class="form-control" type="number" id="floor" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLocationModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p> Are you sure to delete this Location? This operation is ireverssible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="locationAssetModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List of Assets</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <table id="locationAssetDataTable" class="text-center">
                    <thead class="text-capitalize">
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section DataTableScripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            var addLocationForm = $('#addLocationForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var detailLocationForm = $('#detailLocationForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var data;
            var table = $("#locationDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Location/GetLocationTableData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Floor", "name": "Floor", "autoWidth": true },
                    { "data": "TotalAsset", "name": "Total Asset", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {

                            var returnStr = '';

                            @if (!User.IsInRole("Mover"))
                            {
                                <text>returnStr = returnStr + '<button class="btn btn-sm btn-success" id="btnDetailModal"><em class="fa fa-eye" style="color:white"></em></button>&nbsp;';</text>
                            }

                            returnStr = returnStr + '<button class="btn btn-sm btn-primary" id="btnLocationAssetModal"><em class="fa fa-archive" style="color:white"></em></button>&nbsp;';
                            
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <text>returnStr = returnStr + '<button class="btn btn-sm btn-danger" id="btnDeleteModal"><em class="fa fa-trash-o" style="color:white"></em></button>&nbsp;';</text>

                            }

                            return returnStr;
                            
                        }
                    }
                ]
            });

            var locationAssetTable = $("#locationAssetDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "columns": [
                    { "name": "Name", "autoWidth": true },
                    { "name": "Category", "autoWidth": true }
                ]
            });


            // Load Data For Modal
            $(document).on('click', '#btnAddModal', function () {
                $('#addLocationModal').modal();
            });

            $(document).on('click', '#btnDetailModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $.post('/Location/GetLocation', { id: id }, function (returnedData) {
                    $('#detailLocationModal').modal();
                    data = returnedData;
                    $('#detailLocationModal').find('#name').val(data.Name);
                    $('#detailLocationModal').find('#floor').val(data.Floor);
                    $('#detailLocationModal').find('#description').val(data.Description);
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $(document).on('click', '#btnDeleteModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $('#deleteLocationModal').modal();
                data = id;
            });

            $(document).on('click', '#btnLocationAssetModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;



                $.get("/Location/GetLocationAsset?id=" + id, function (data) {
                    locationAssetTable.clear();
                    $.each(data, function (index, value) {
                        locationAssetTable.row.add([
                            value.Name,
                            value.CategoryName
                        ]);
                    });
                    locationAssetTable.draw();
                });


                $('#locationAssetModal').modal();
                data = id;
            });

            // Add Edit Delete Operation
            $('#detailLocationModal').on('click', '#btnSave', function () {
                if ($('#detailLocationForm').valid()) {
                    data.Name = $('#detailLocationModal').find('#name').val();
                    data.Floor = $('#detailLocationModal').find('#floor').val();
                    data.Description = $('#detailLocationModal').find('#description').val();
                    $.post('/Location/EditLocation', { id: data.ID, location: data }, function (returnedData) {
                        table.ajax.reload();
                        $('#detailLocationModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                }
            });

            $('#deleteLocationModal').on('click', '#btnDelete', function () {
                $.post('/Location/DeleteLocation', { id: data }, function (returnedData) {
                    table.ajax.reload();
                    $('#deleteLocationModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $('#addLocationModal').on('click', '#btnSave', function () {
                if ($('#addLocationForm').valid()) {
                    data = {
                        Name: $('#addLocationModal').find('#name').val(),
                        Floor: $('#addLocationModal').find('#floor').val(),
                        Description: $('#addLocationModal').find('#description').val()
                    };

                    $.post('/Location/AddLocation', { location: data }, function (returnedData) {
                        table.ajax.reload();
                        console.log(returnedData);
                        $('#addLocationModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                }
            });

            // Clean Data after Modal Close

            $('#detailLocationModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#detailLocationModal').find('#name').val("");
                $('#detailLocationModal').find('#floor').val("");
                $('#detailLocationModal').find('#description').val("");
                detailLocationForm.resetForm();
            });

            $('#deleteLocationModal').on('hidden.bs.modal', function (e) {
                data = [];
            });

            $('#addLocationModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#addLocationModal').find('#name').val("");
                $('#addLocationModal').find('#floor').val("");
                $('#addLocationModal').find('#description').val("");
                addLocationForm.resetForm();
            });

            $('#locationAssetModal').on('hidden.bs.modal', function (e) {
                locationAssetTable.clear();
            });

        });

    </script>

}
