@{
    ViewData["Title"] = "Category";
    ViewData["BreadCrumb"] = "Category";
}
@section DataTableSytleSheets{
    <link href="~/lib/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/responsive.jqueryui.min.css" rel="stylesheet" />
}

<div class="row">
    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title"><button type="button" id="btnAddModal" class="btn btn-sm btn-primary">Add</button></h4>
                <div class="data-tables datatable-primary">
                    <table id="categoryDataTable" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Total Asset</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>

@*Modal*@

<div class="modal fade" id="addCategoryModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="addCategoryForm">
                <div class="modal-header">
                    <h5 class="modal-title">Add</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailCategoryModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="detailCategoryForm">
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input class="form-control" type="text" id="name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCategoryModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation Message</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p> Are you sure to delete this Category? This operation is ireverssible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section DataTableScripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatable/js/responsive.bootstrap.min.js"></script>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            var addCategoryForm = $('#addCategoryForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
             });

            var detailCategoryForm = $('#detailCategoryForm').validate({
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                }
            });

            var data;
            var table = $("#categoryDataTable").DataTable({
                "responsive": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Category/GetCategoryTableData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                "columns": [
                    { "data": "ID", "name": "ID", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "TotalAsset", "name": "Total Asset", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {

                            var returnStr = '<button class="btn btn-sm btn-success" id="btnDetailModal"><em class="fa fa-eye" style="color:white"></em></button>&nbsp;' +
                                '<button class="btn btn-sm btn-danger" id="btnDeleteModal"><em class="fa fa-trash-o" style="color:white"></em></button>&nbsp;';
                            return returnStr;
                        }
                    }

                ]

            });


            // Load Data For Modal
            $(document).on('click', '#btnAddModal', function () {
                $('#addCategoryModal').modal();
            });

            $(document).on('click', '#btnDetailModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $.post('/Category/GetCategory', { id: id }, function (returnedData) {
                    $('#detailCategoryModal').modal();
                    data = returnedData;
                    $('#detailCategoryForm').find('#name').val(data.Name);
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $(document).on('click', '#btnDeleteModal', function () {
                var current_row = $(this).closest('tr');
                if (current_row.hasClass('child')) {
                    current_row = current_row.prev();
                }
                var id = table.row(current_row).data().ID;
                $('#deleteCategoryModal').modal();
                data = id;
            });


            // Add Edit Delete Operation
            $('#detailCategoryModal').on('click', '#btnSave', function () {
                if ($('#detailCategoryForm').valid()) {

                    data.Name = $('#detailCategoryForm').find('#name').val();
                    $.post('/Category/EditCategory', { id: data.ID, Category: data }, function (returnedData) {
                        table.ajax.reload();
                        $('#detailCategoryModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                } 

                
            });

            $('#deleteCategoryModal').on('click', '#btnDelete', function () {
                $.post('/Category/DeleteCategory', { id: data }, function (returnedData) {
                    table.ajax.reload();
                    $('#deleteCategoryModal').modal('hide');
                }).fail(function () {
                    console.log("error");
                }, "json");
            });

            $('#addCategoryModal').on('click', '#btnSave', function () {
                if ($('#addCategoryForm').valid()) {
                    data = {
                        Name: $('#addCategoryForm').find('#name').val()
                    };

                    $.post('/Category/AddCategory', { Category: data }, function (returnedData) {
                        table.ajax.reload();
                        $('#addCategoryModal').modal('hide');
                    }).fail(function () {
                        console.log("error");
                    }, "json");
                } 
            });


            // Clean Data after Modal Close

            $('#detailCategoryModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#detailCategoryModal').find('#name').val("");
                detailCategoryForm.resetForm();
            });

            $('#deleteCategoryModal').on('hidden.bs.modal', function (e) {
                data = [];
            });

            $('#addCategoryModal').on('hidden.bs.modal', function (e) {
                data = [];
                $('#addCategoryModal').find('#name').val("");
                addCategoryForm.resetForm();
            });
        });

    </script>

}
